<div class="jumbotron">
  <div class="container">
    <div class="page-header">
    <h1><%= t ".greeting" %></h1>
    </div>
    <p>Вы вошли на страницу ассоциативного опроса и можете стать участником очень важного исследования
     особенностей языкового сознания носителей русского языка и русской культуры Поколения знаний.
    </p>
    <div id="polls">
    	<a href="/assoc_quest/personalData.php?poll=4" class="btn btn-default btn-lg">Опрос на русском</a>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
    Приложение выполнено как проект для Московского Политехнического Университета (Университета Машиностроения)
    <br>
    В разработке принимали участие Д.Г. Матвеев, Ю.Н. Филиппович, Г.А. Черкасова, А.Ю. Филиппович
    <br>
    Работа выполнена при финансовой поддержке грантов РГНФ № 15-34-14007а(ц) и 15-04-00378а
    </p>
  </div>
</footer>
