<div class="container">
  <div class="page-header">
    <h1>Словарные статьи</h1>
  </div>
  <%= selection_form %>
  <% if dictionary %>
    <h2>Слово <%= params[:selection][:word] %></h2>
    <%= brief_table %>
    <%= dictionary_table %>
  <% end %>
</div>
