#index-how {
  margin-top: 2.5rem;
  display: grid;
  grid: "header header"
          "text space"
          / 1fr 1.61803fr;
  grid-gap: 1.5rem;

  @include media-mobile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    & > * {
      padding: 0 .3rem 0 .3rem;
      margin-bottom: 1.5rem;
    }
  }
}
.index-how-text {
  grid-column: 1 / 2;
  grid-row: span 1;
}

#index-how-header {
  grid-area: header;
  justify-self: start;
  @include media-mobile {
    text-align: left;
  }
}
