@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.footer p {margin: 0}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.page-header {border-bottom: 1px solid rgb(121, 200, 117);}
.jumbotron {background-color: #c2ffc5;}
.jumbotron p { padding-left: 20px; }
kbd { background-color: #026500; }
.form-horizontal .radio {padding-top: 0;}
.radio-inline span {font-size: 17px;}
.ui-widget-header .ui-icon {
    background-image: url("ui-icons_444444_256x240.png");
}
