@font-face {
  font-family: "FrankRegular";
  src: url("fonts/FrankRegular/FrankRegular.eot");
  src: url("fonts/FrankRegular/FrankRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/FrankRegular/FrankRegular.woff") format("woff"),
  url("fonts/FrankRegular/FrankRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FrankLight";
  src: url("fonts/FrankLight/FrankLight.eot");
  src: url("fonts/FrankLight/FrankLight.eot?#iefix")format("embedded-opentype"),
  url("fonts/FrankLight/FrankLight.woff") format("woff"),
  url("fonts/FrankLight/FrankLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MarmeladRegular";
  src: url("fonts/MarmeladRegular/MarmeladRegular.eot");
  src: url("fonts/MarmeladRegular/MarmeladRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/MarmeladRegular/MarmeladRegular.woff") format("woff"),
  url("fonts/MarmeladRegular/MarmeladRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
