<div class="container">
    <div class="page-header">
        <h1><%= t('.header') %></h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <%= general_file_requirements %>
        </div>
    </div>

    <hr>

    <div class="row">
        <%= form %>
    </div>
</div>
