<div class="container">
  <div class="page-header">
    <h1><%= t '.header' %></h1>
  </div>
  <br><br>
  <p class="text-center" style="font-size: 20px;"><%= t '.info' %></p>
  <br>
<%= form %>
</div>
<%= insert_backend_data %>
