<div class="container">
  <div class="page-header">
    <h1><%= t ".heading" %></h1>
  </div>
  <p>
    Пожалуйста, заполните личную информацию. От вас не требуется указывать Ваше имя и фамилию, Ваша личность останется анонимной.
  </p>
  <%=
  form_for :person, routes.test_path, class: 'form-horizontal' do
    flags.each do |flag, value|
      if value
        case flag
        when :sex
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') do
              radio_button flag, 'male', id: 'person-male', :"data-required" => 'required'
              label t '.male'
              radio_button flag, 'female', id: 'person-female', :"data-required" => 'required'
              label t '.female'
            end
          end
          div(display_alert(flag))
        when :age, :spoken_languages
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') do
              first_disabled_select (1..100), id: "person-#{flag}", name: "person[#{flag}]", :"data-required" => 'required', class: 'form-control'
            end
          end
          div(display_alert(flag))
        when :region
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') do
              values = t ".regions"
              first_disabled_select values, id: "person-#{flag}", name: "person[#{flag}]", class: 'form-control', :"data-required" => 'required'
            end
          end
          div(display_alert(flag))
        when :nationality1
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') {text_field flag, class: 'form-control', placeholder: t(".#{flag}_placeholder"), :"data-required" => 'required'}
          end
          div(display_alert(flag))
        when :nationality2
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') {text_field flag, class: 'form-control', placeholder: t(".#{flag}_placeholder"), :"data-required" => 'required'}
          end
        when :quiz_language_level
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') do
              values = Hash[
                'Свободно пишу и разговариваю' => 'Свободно пишу и разговариваю',
                'Свободно пишу' => 'Свободно пишу',
                'Свободно разговариваю' => 'Свободно разговариваю',
                'Перевожу со словарем' => 'Перевожу со словарем'
              ]
              first_disabled_select values, id: "person-#{flag}", name: "person[#{flag}]", class: 'form-control', :"data-required" => 'required'
            end
          end
          div(display_alert(flag))
        when :native_language, :education_language, :communication_language
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') do
              language_select id: "person-#{flag}", name: "person[#{flag}]", class: 'form-control', :"data-required" => 'required'
            end
          end
          div(display_alert(flag))
        else
          div(class: 'form-group') do
            div(class: 'col-md-2') {label t ".#{flag}"}
            div(class: 'col-md-10') {text_field flag, class: 'form-control', placeholder: t(".#{flag}_placeholder"), :"data-required" => 'required'}
          end
          div(display_alert(flag))
        end
      end
    end
    submit 'Продолжить', class: 'btn btn-primary', id: 'submit'
  end
  %>
</div>
