<div class="container">
  <div class="page-header">
    <h1>Личная информация</h1>
  </div>
  <p>
    Пожалуйста, заполните личную информацию. От вас не требуется указывать Ваше имя и фамилию, Ваша личность останется анонимной.
  </p>

  <% %>

<!--
<form method="POST" action="questionsTest.php">
<input type="hidden" name="identifier" value="<?= uniqid() ?>">
<table class="personal_data">
<?php if($poll['chosen_lang_level_id_flag']){ ?>
<tr>
<td><label>Уровень владения<br> выбранным языком: </label></td><td><select class="form-control" id="chosen-lang-level" name="chosen-lang-level" required>
<?= $languageLevel ?>
</select>
</tr>
<?php }
if($poll['sex_flag']){ ?>
<tr>
<td><label>Пол:</label></td><td><label class="radio-inline"><input required type="radio" name="sex" value="мужской">Мужской</label><label class="radio-inline"><input required type="radio" name="sex" value="женский">Женский</label></td>
</tr>
<?php }
if($poll['age_flag']){ ?>
<tr>
<td><label for="age">Возраст: </label></td><td><select class="form-control" required name="age" id="age">
<option disabled selected value="">--</option><?php for ($i = 5; $i < 121; $i++) echo '<option value="'.$i.'">'.$i.'</option>'; ?>
</select>
</td>
</tr>
<?php }
if($poll['profession_flag']){ ?>
<tr>
<td><label for="profession">Специальность:</label></td><td><input class="form-control" type="text" id="profession" name="profession" placeholder="Текущая или будущая по образованию" required></td>
</tr>
<?php }
if($poll['poll_taken_region_flag']){ ?>
<tr>
<td><label for="poll_taken_region">
<?php
if($poll_id == 4){
echo 'ВУЗ:';
} else {
echo 'Место проведения:';
}
?>
</label></td><td>
<!--<input class="form-control" type="text" id="poll_taken_region" name="poll_taken_region" placeholder="Регион проведения опроса" required>
<select class="form-control" id="poll_taken_region" name="poll_taken_region" required>
<option disabled selected value="">--</option>
<option value="БГУ">БГУ</option>
<option value="ВСГУТУ">ВСГУТУ</option>
<option value="ВСГИК">ВСГИК</option>
<option value="БГСХА">БГСХА</option>
<option value="МосПолитех">МосПолитех</option>
</select>
</td>
</tr>
<?php }
if($poll['residence_place_flag']){ ?>
<tr>
<td><label for="living-place">Место проживания: </label></td><td><select class="form-control" required name="living-place" id="living-place">
<?php foreach ($countryList as $v) echo '<option value="'.$v.'">'.$v.'</option>'; ?>
</select>
</td>
</tr>
<?php }
if($poll['residence_place_city_flag']){ ?>
<tr>
<td><label for="living-place-city">Место проживания до учебы в ВУЗе: </label></td><td><input class="form-control" type="text" name="living-place-city" id="living-place-city" placeholder="Например: Москва" required></td>
</tr>
<?php }
if($poll['birth_place_flag']){ ?>
<tr>
<td><label for="birth-place">Место рождения: </label></td><td><select class="form-control" required name="birth-place" id="birth-place">
<?php foreach ($countryList as $v) echo '<option value="'.$v.'">'.$v.'</option>'; ?>
</select>
</td>
</tr>
<?php }
if($poll['nationality_flag']){ ?>
<tr>
<td><label for="nationality">Национальность: </label></td><td><input type="text" class="form-control" required name="nationality" id="nationality" placeholder="Муж. род, им. падеж. Например: русский">
</td>
</tr>
<?php }
if($poll['native_lang_flag']){ ?>
<tr>
<td><label for="mother-language">Родной язык: </label></td><td><select class="form-control" required name="mother-language" id="mother-language">
<?= $languageOptions ?>
</select>
</td>
</tr>
<tr>
<td><input type="radio" name="mlo" value="1" id="mlo"><label for="mlo">Моего родного языка нет в списке: </label></td><td><input class="form-control" type="text" id="mother-language-other" name="mother-language-other" disabled placeholder="Например: польский"></td>
</tr>
<?php }
if($poll['fluent_langs_flag']){ ?>
<tr>
<td><label for="fluent-languages">На скольких языках<br> свободно разговариваете? </label></td><td><select class="form-control" required name="fluent-languages" id="fluent-languages">
<?php for ($i = 1; $i < 33; $i++) echo '<option value="'.$i.'">'.$i.'</option>'; ?>
</select>
</td>
</tr>
<?php }
if($poll['communication_lang_flag']){ ?>
<tr>
<td><label for="communicative-language">Язык общения: </label></td><td><select class="form-control" required name="speaking-language" id="communicative-language">
<?= $languageOptions ?>
</select>
</td>
</tr><tr>
<td><input type="radio" name="slo" value="1" id="slo"><label for="slo">Другой язык общения: </label></td><td><input class="form-control" type="text" id="speaking-language-other" name="speaking-language-other" disabled></td>
</tr>
<?php }
if($poll['education_lang_lang_flag']){ ?>
<tr>
<td><label for="education-language">Язык обучения: </label></td><td><select class="form-control" required name="education-language" id="education-language">
<?= $languageOptions ?>
</select>
</td>
</tr><tr>
<td><input type="radio" name="elo" value="1" id="elo"><label for="elo">Другой язык обучения: </label></td><td><input class="form-control" type="text" id="education-language-other" name="education-language-other" disabled></td>
</tr>
<?php } ?>
</table>
<br>
<p class="text-center"><input class="btn btn-success" type="submit" name="submit" value="Перейти к тестированию"></p>
</form>
</div>
