<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1><%= t '.congrats' %></h1>
    </div>
    <p><%= t '.quiz_info', quiz_title: quiz_title %></p>
    <p><%= t '.quiz_number' %></p>
    <div id="uuid" class="well" style="font-size: 22px;"><%= uuid %></div>
  </div>
</div>
